<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone">Розрахувати та оформити заявку</div>
    {% endif %}
    {% if site.data.contact.phone %}
    <strong>Телефонуйте: </strong>
    <a href="tel:{{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a> <br>
    <strong>Або пишіть в: </strong>
    <a href="https://t.me/OSDDialler" style="color:#249ad7">Telegram</a>
    {% endif %}

<!-- 
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
     -->
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="https://outsorcing.github.io/dialler/cost.html" target="_blank" class="button">Розрахувати</a>
      </div>
    {% endif %}
</div>
