---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">Дізнатись більше </a>
      </div>
    </div>
  </div>
</div>

<section class="testimonial">
  <div class="container flex">
      <div class="wrapperr">
          <div class="testimonial-container" id="testimonial-container"></div>
          <button id="prev">&lt;</button>
          <button id="next">&gt;</button>
      </div>
  </div>
</section>




<script src="/assets/js/commentsGoogle.js"></script>
<style>
 .testimonial {
	background: #fff6f8;
	margin: 0;
	padding: 40px 0;

	.testimonial-block {
		width: 60%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.wrapperr {
    background-color: #ffffff;
    position: relative;
    max-width: 72%; /* Замість width: 80vw; для кращої адаптивності */
    min-height: 25em;
    border-radius: 1.2em;
    margin: 0 auto; /* Для центрування блоку */
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    display: flex;
    flex-direction: column; 
  }
  .testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
  }
  .wrapperr button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #e5261f;
    box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
    cursor: pointer;
    border-radius: 50%;
  }
  button#next {
    right: -1.1em;
  }
  button#prev {
    left: -1.1em;
  }
  .testimonial-container p {
    color: #8c8c90;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.05em;
  }
  .testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    border-radius: 50%;
    width: 4.4em;
  }
  .testimonial-container h3 {
    color: #2d3d67;
    font-size: 1em;
    text-align: center;
  }
  .testimonial-container h6 {
    color: #bcc4da;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    .wrapper {
      font-size: 14px;
    }
  }
</style>

<!-- {% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center"><h2>Наші голоси</h2></div>
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div><br>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %} -->
